# Python caches and environments
__pycache__/
*.py[cod]
*$py.class
.venv/
.python-version

# Type checking and linting
.mypy_cache/
.ruff_cache/
.pytest_cache/

# OS specific files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.swp
*.swo

# Project specific
.jj/